@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background-color:#000000;
    color:#ffffff;
    font-family: Roboto, sans-serif;
}
.clock{
    padding:3px 3px 3px 3px;
    color:#36AD2D;
    text-align:center;
}
.time{
    color:#ffffff;
    font-size:large;
    font-weight:bold;
}
.stop{
    color: red;
}
img {
    -ms-interpolation-mode: bicubic;
}
@media (min-height: 420px){
    .container{
        flex-direction: column;
    }
}
.container {
    display: flex;
    justify-items: center;
    text-align: center;
}
.bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
.bottom-container .btn-container {
    padding: 5px;
}
.phase-container {
    min-height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.phase-container .phase-badge {
    background-image: url('/assets/img/chip_white.svg');
    background-repeat: no-repeat;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phase-container .short-badge {
    background-image: url('/assets/img/chip_white.svg');
    background-repeat: no-repeat;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phase-container .d-short-badge {
    background-image: url('/assets/img/chip_white.svg');
    background-repeat: no-repeat;
    background-size: 140px 140px;
    width: 140px;
    height: 140px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}