@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --whiteChip: url("data:image/svg+xml, %3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='700.000000pt' height='700.000000pt' viewBox='0 0 700.000000 700.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.12, written by Peter Selinger 2001-2015%0A%3C/metadata%3E%3Cg transform='translate(0.000000,700.000000) scale(0.100000,-0.100000)' fill='white' stroke='none'%3E%3Cpath d='M2730 6904 c-676 -155 -1269 -491 -1750 -991 l-140 -146 27 -17 c16%0A-9 166 -96 335 -194 l306 -177 -116 -202 c-65 -111 -205 -355 -312 -541 -107%0A-186 -200 -340 -206 -343 -6 -2 -156 80 -333 183 -178 102 -326 182 -331 178%0A-4 -5 -22 -54 -40 -109 -60 -191 -105 -394 -136 -620 -26 -184 -26 -665 0%0A-850 25 -186 67 -388 114 -551 49 -168 60 -197 69 -191 5 2 154 89 332 192%0A247 143 326 184 332 173 68 -105 619 -1073 616 -1081 -3 -7 -150 -95 -326%0A-197 -177 -102 -321 -188 -321 -192 0 -5 42 -54 94 -110 94 -103 253 -251 376%0A-349 410 -328 940 -580 1435 -684 44 -9 88 -19 98 -22 16 -4 17 19 17 381 l0%0A386 635 0 635 0 2 -384 3 -383 146 32 c485 109 954 333 1379 661 107 82 491%0A451 490 470 -1 5 -149 94 -330 199 -182 104 -330 191 -330 193 0 5 608 1055%0A622 1075 12 16 41 1 342 -173 222 -129 332 -187 336 -179 13 19 89 288 115%0A404 131 580 103 1212 -81 1803 -29 95 -38 113 -52 107 -9 -3 -157 -87 -328%0A-186 -170 -98 -314 -179 -320 -179 -5 0 -150 244 -322 543 -287 498 -311 543%0A-295 555 10 7 159 94 330 193 275 159 312 183 303 199 -20 37 -309 320 -418%0A408 -373 303 -780 521 -1223 655 -107 33 -331 87 -358 87 -8 0 -11 -104 -11%0A-380 l0 -380 -635 0 -635 0 0 380 c0 356 -1 380 -17 379 -10 0 -65 -11 -123%0A-25z m1038 -1090 l33 -7 -3 -96 -3 -96 -70 5 c-104 7 -349 6 -437 -2 l-78 -8%0A0 99 0 100 53 5 c28 3 70 8 92 10 56 6 373 -2 413 -10z m1024 -374 c59 -38%0A109 -74 113 -80 5 -9 -81 -170 -92 -170 -2 0 -59 36 -125 81 -67 44 -178 108%0A-247 141 -69 34 -128 62 -129 64 -4 2 73 139 90 161 13 17 244 -100 390 -197z%0Am-2139 119 c26 -45 46 -83 45 -84 -2 -1 -64 -32 -139 -69 -75 -37 -187 -100%0A-248 -141 -62 -41 -115 -75 -119 -75 -13 1 -94 152 -88 165 13 35 443 285 489%0A285 7 0 34 -37 60 -81z m-916 -704 c40 -22 73 -43 73 -47 0 -3 -34 -56 -75%0A-117 -41 -61 -105 -173 -143 -250 l-69 -139 -86 50 -86 49 33 73 c75 165 244%0A431 269 424 7 -2 45 -21 84 -43z m3668 -12 c70 -101 123 -190 178 -300 74%0A-148 74 -146 35 -166 -18 -8 -56 -29 -85 -46 l-51 -31 -65 133 c-36 72 -98%0A182 -139 242 -40 61 -76 115 -81 122 -5 8 18 27 70 57 43 25 83 46 88 46 6 0%0A28 -26 50 -57z m-4023 -1120 c-9 -89 -9 -347 0 -446 l8 -78 -97 3 -97 3 -9 40%0Ac-12 50 -15 434 -4 498 l8 47 99 0 99 0 -7 -67z m4440 7 c8 -72 8 -411 0 -475%0Al-7 -50 -99 -3 -98 -3 7 81 c9 107 10 301 0 418 l-7 93 98 -3 99 -3 7 -55z%0Am-4238 -1156 c62 -129 128 -242 187 -321 21 -29 39 -56 39 -62 0 -8 -149 -101%0A-163 -101 -25 0 -287 453 -287 496 0 11 143 103 162 104 3 0 31 -52 62 -116z%0Am3989 68 c42 -24 77 -48 77 -54 0 -21 -147 -294 -203 -378 -94 -139 -74 -130%0A-169 -75 -46 26 -84 49 -86 50 -2 2 17 31 42 65 68 92 141 217 197 336 28 58%0A53 104 57 102 4 -2 42 -22 85 -46z m-3248 -923 c50 -33 152 -91 228 -129 75%0A-38 138 -71 140 -73 3 -7 -84 -156 -95 -163 -27 -17 -498 256 -498 289 0 7 21%0A47 46 90 44 76 46 78 67 63 12 -9 63 -43 112 -77z m2538 10 c38 -66 45 -85 35%0A-96 -25 -30 -218 -150 -346 -215 -74 -38 -138 -68 -142 -68 -8 0 -100 156%0A-100 169 0 4 30 20 68 36 104 46 237 120 336 190 50 34 93 63 96 64 3 1 27%0A-36 53 -80z m-1380 -361 c73 -1 174 3 225 7 l93 7 -3 -98 -3 -99 -55 -7 c-74%0A-8 -392 -10 -469 -2 l-61 7 0 99 0 100 70 -7 c39 -4 130 -7 203 -7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Roboto, sans-serif;
}

.clock {
    padding: 3px 3px 3px 3px;
    color: #36AD2D;
    text-align: center;
}

.time {
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}

.stop {
    color: red;
}

img {
    -ms-interpolation-mode: bicubic;
}

@media (min-height: 420px) {
    .container {
        flex-direction: column;
    }
}

.container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.bottom-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom-container .btn-container {
    border: 5px solid transparent;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 45px;
}

.phase-container {
    min-height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.phase-container .phase-badge {
    border: 5px solid #000;
    background-image: var(--whiteChip);
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 130px 130px;
    width: 130px;
    height: 130px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
